local-jet/src/main/resources/mock/data-01.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-02.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-03.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-04.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-05.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-06.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-07.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-08.json filter=lfs diff=lfs merge=lfs -text
local-jet/src/main/resources/mock/data-09.json filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/agency.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/calendar.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/feed_info.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/routes.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/stops.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/stop_times.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/transfers.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-01-08/trips.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/trips.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/agency.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/feed_info.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/stop_times.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/transfers.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/calendar.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/routes.txt filter=lfs diff=lfs merge=lfs -text
infrastructure/data/gtfs_fp2020_2020-12-02/stops.txt filter=lfs diff=lfs merge=lfs -text
